@charset "ISO-8859-1";
.btn-neon{
		position: relative;
		display: inline-block;
		padding: 10px 15px;
		color: black;
		font-size: 16px;
		border-radius:10px;
		text-decoration: none;
		overflow: hidden;
		transition:0.2s;
		border: 2px solid #8b0000; 
		cursor: pointer;
	}
	.btn-neon:hover{
		background: #8b0000;
		box-shadow: 0 0 10px #8b0000 0 40px #8b0000 0 80px #8b0000;
		transition-delay:1s;
		color: white;
		border: transparent; 
	}
	.btn-neon span{
		position: absolute;
		display: block;
	}
	#span1{
		top: 0;
		left: -100%;
		width: 100%;
		height: 2px;
		background: linear-gradient(90deg, transparent, #8b0000)
	}
	.btn-neon:hover #span1{
		left:100%;
		transition: 1s;  
	}
	#span3{
		bottom: 0;
		right: -100%;
		width: 100%;
		height: 2px;
		background: linear-gradient(270deg, transparent, #8b0000)
	}
	.btn-neon:hover #span3{
		right:100%;
		transition: 1s;  
	}
	#span2{
		top: -100%;
		right: 0;
		width: 2px;
		height: 100%;
		background: linear-gradient(180deg, transparent, #8b0000)
	}
	.btn-neon:hover #span2{
		top:100%;
		transition: 1s;
		transition-delay:0.25s;
	}
	#span4{
		bottom: -100%;
		left: 0;
		width: 2px;
		height: 100%;
		background: linear-gradient(360deg, transparent, #8b0000)
	}
	.btn-neon:hover #span4{
		bottom:100%;
		transition: 1s;
		transition-delay:0.75s;
	}
	.btn-neon1{
		position: relative;
		display: inline-block;
		padding: 10px 15px;
		color: black;
		font-size: 16px;
		border-radius:10px;
		text-decoration: none;
		overflow: hidden;
		transition:0.2s;
		border: 2px solid #157347; 
		cursor: pointer;
	}
	.btn-neon1:hover{
		background: #157347;
		box-shadow: 0 0 10px #157347,0 0 40px #157347,0 0 80px #157347;
		transition-delay:1s;
		color:white;
		border: transparent; 
	}
	.btn-neon1 span{
		position: absolute;
		display: block;
	}
	#span11{
		top: 0;
		left: -100%;
		width: 100%;
		height: 2px;
		background: linear-gradient(90deg, transparent, #157347)
	}
	.btn-neon:hover #span1{
		left:100%;
		transition: 1s;  
	}
	#span31{
		bottom: 0;
		right: -100%;
		width: 100%;
		height: 2px;
		background: linear-gradient(270deg, transparent, #157347)
	}
	.btn-neon1:hover #span31{
		right:100%;
		transition: 1s;  
	}
	#span21{
		top: -100%;
		right: 0;
		width: 2px;
		height: 100%;
		background: linear-gradient(180deg, transparent, #157347)
	}
	.btn-neon1:hover #span21{
		top:100%;
		transition: 1s;
		transition-delay:0.25s;
	}
	#span41{
		bottom: -100%;
		left: 0;
		width: 2px;
		height: 100%;
		background: linear-gradient(360deg, transparent, #157347)
	}
	.btn-neon1:hover #span41{
		bottom:100%;
		transition: 1s;
		transition-delay:0.75s;
	}
	
	